<!DOCTYPE html>
<html ng-app="">
<title>HTML Tutorial</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
<script src="../public/contronllers/contronller.js"></script>

<body>
    <div class="container" ng-controller="nobody">
        <h1>Insert Database</h1>
        <form role="form">
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" ng-model="a.username" class="form-control" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" ng-model="a.password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fullname</label>
                <input type="text" ng-model="a.fullname" class="form-control" placeholder="Enter Fullname">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" ng-model="a.email" class="form-control" \ placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" ng-model="a.title" class="form-control" placeholder="Enter Fullname">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Depict</label>
                <input type="text" ng-model="a.depict" class="form-control" placeholder="Enter Fullname">
            </div>

            <button type="submit" class="btn btn-default" ng-click="addContact()">Add</button>
        </form>

    </div>
</body>
<script src="contronllers/contronller.js"></script>

</html>